IDI_ICON1 ICON "music_logo.png"
IDI_ICON2 ICON "order.png"
IDI_ICON3 ICON "previous.png"
IDI_ICON4 ICON "pause.png"
IDI_ICON5 ICON "next.png"
IDI_ICON6 ICON "random.png"
IDI_ICON7 ICON "itemloop.png"
IDI_ICON8 ICON "itemonce.png"
IDI_ICON9 ICON "loop.png"
IDI_ICON10 ICON "play.png"
IDI_ICON11 ICON "setting.png"

IDI_ICON12 ICON "music_logo.ico"
IDI_ICON13 ICON "order.ico"
IDI_ICON14 ICON "previous.ico"
IDI_ICON15 ICON "pause.ico"
IDI_ICON16 ICON "next.ico"
IDI_ICON17 ICON "random.ico"
IDI_ICON18 ICON "itemloop.ico"
IDI_ICON19 ICON "itemonce.ico"
IDI_ICON20 ICON "loop.ico"
IDI_ICON21 ICON "play.ico"
IDI_ICON22 ICON "setting.ico"

IDI_ICON23 ICON "close.ico"
IDI_ICON24 ICON "close.png"
IDI_ICON25 ICON "maximize.ico"
IDI_ICON26 ICON "maximize.png"
IDI_ICON27 ICON "min.ico"
IDI_ICON28 ICON "min.png"